* {
    margin: 0;
    padding: 0; 
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    height: 100%;
    padding:0;
    margin:0px;
}

#navbar, #navbar ul, #navbar li, #navbar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*SCROLLBAR SETTINGS---------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
::-webkit-scrollbar {
    z-index: 1;
    width: 0.6rem;
}
  
::-webkit-scrollbar-track {
    z-index: 1;
    background: #555;
}
  
::-webkit-scrollbar-thumb {
    z-index: 1;
    background: white;
}

.no-scroll {
    overflow: hidden;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*NAVBAR---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
#navbar {
    background:rgba(34, 34, 34, 0.9);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    width:100%;
    height:48px;
    position:fixed;
    overflow:hidden;
    z-index: 1;
}

#navbar .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
}

#navbar .container .PNGLogo {
    display:flex;
    justify-content: left;
    height:32px;
    width:100px;
    margin-left: 8px;
}

#navbar .container .PNGLogo img {
    max-width: 250px;
    max-height: 40px;
}

#navbar .container .navButton
{
    display:flex;
    justify-content: right;
    height:40px;
    width:40px;
    margin-left: 15px;
}

#navbar #menu-toggle
{
    display: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#navbar .menu-btn
{
    font-size: 25px;
    cursor:pointer;
    padding: 2px 15px 5px 5px;
    user-select: none;
    color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sidenav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background: rgba(34, 34, 34, 0.9);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 0.5s ease, -webkit-backdrop-filter 0.5s ease, backdrop-filter 0.5s ease;
}

.blur {
    /* Blur effect styles */
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sidenav ul {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-right: 8px;
    list-style-type:none;
}

.sidenav .ul .li 
{
    display: list-item;
    list-style-position: inside;
    width: 100%;
}

.sidenav .sidenavItem
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.sidenav .sidenavItem img {
    max-width: 25px;
    max-height: 25px;
    padding-left: 10px;
}

.sidenav .sidenavItem  a {
    padding: 15px;
    width: 100%;
    display: block;
    color: white;
    user-select: none;
    text-decoration: none;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select:none;
    -ms-use-select:none;
    user-select:none;
}

.sidenav .sidenavItem:hover, #sidenav .sidenavItem.current {
    background: rgba(80, 80, 80, 0.6);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color:white;
}

.sidenav .sidenavItem:active, #sidenav .sidenavItem.current {
    background: rgba(131, 131, 131, 0.6);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color:white;
}

/* MusicPlayer ---------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
.hidden {
  display: none;
}

.player {
  max-width: 1000px;
  margin: 0.25rem;
  background: white;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 20px 25px -5px rgb(0 0, 0 / 0.1), 0 8px 10px -6px rgb(0 0, 0 / 0.1);
}

.player-track-meta {
  text-align: center;
}

.player-track-meta p {
  margin: 0;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.player-track-meta span {
  font-size: 16px;
  font-weight: 400;
  padding: 0 2px;
  position: relative;
  top: 1px;
  color: #000000;
}

.player-controls {
  display: flex;
  align-items: center;
}

.player-play-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.icon-container {
  fill: transparent;
  stroke: none;
  color: rgb(149, 159, 173);
}

.player-play-btn:hover {
  fill: rgb(149, 159, 173);
}

.player-play-btn svg {
  color: rgb(149, 159, 173);
  position: relative;
  left: 0.5px;
  width: 36px;
  height: 36px;
  display: block;
}

.player-play-btn:hover svg {
  color: #ffffff;
}

.player-timeline {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.player-progress {
  display: flex;
  position: relative;
  height: 6px;
  background: #e7e7e7;
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  overflow: hidden;
}

.player-progress-filled {
  height: 6px;
  background: rgb(149, 159, 173);
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}

.player-time {
  padding: 2px 5px;
}

.player-volume-container {
  width: 15%;
}

/* Volume Slider Styles */
.player-volume {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

/* Remove outline on focus */
.player-volume:focus {
  outline: none;
}

/* Webkit (Chrome, Safari) */
.player-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(149, 159, 173) var(--fill-percentage, 0%),
    #e7e7e7 var(--fill-percentage, 0%)
  );
  border-radius: 10px;
}

.player-volume::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: rgb(149, 159, 173);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

/* Firefox */
.player-volume::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(149, 159, 173) var(--fill-percentage, 0%),
    #e7e7e7 var(--fill-percentage, 0%)
  );
  border-radius: 10px;
}

.player-volume::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: rgb(149, 159, 173);
  cursor: pointer;
}

/* Internet Explorer */
.player-volume::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.player-volume::-ms-fill-lower {
  background: rgb(149, 159, 173);
  border-radius: 10px;
}

.player-volume::-ms-fill-upper {
  background: black;
  border-radius: 10px;
}

.player-volume::-ms-thumb {
  margin-top: 1px;
  height: 15px;
  width: 15px; 
  border-radius: 100px;
  border: none;  
  background: rgb(149, 159, 173);
  cursor: pointer;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*main-----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.emptyDiv {
    width: 100%;
    height: 48px;
}

#InfoContainer0 {
    width: 100%;
    height: auto;
}

#InfoContainer0 .DivBlock {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}

#InfoContainer0 .DivBlockVariant {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}

#InfoContainer0 .DivBlockVariant .ImageContainer
{
    display: flex;
    width: 50%;
    height: auto;
    margin:10px 5px 0px 10px;
    background-image: url("../../Images/Viandante_BG_Blur.png");
    background-position: center;
    border-radius: 5px;
    background-size: cover;
}

#InfoContainer0 .DivBlock .ImageContainer
{
    display: flex;
    width: 50%;
    height: auto;
    margin:10px 5px 0px 10px;
    background-position: center;
    border-radius: 5px;
    background-size: cover;
}


#InfoContainer0 .DivBlockVariant .ImageContainer .LeftImage {
    display:block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#InfoContainer0 .DivBlock .ImageContainer .LeftImage {
    display:block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#InfoContainer0 .RightDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width:50%;
    height: auto;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    margin:10px 10px 0px 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#InfoContainer0 .RightDiv .TextDiv{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content:center;
    width:90%;
    height: auto;
    padding: 10px 10px 10px 10px;
}

#InfoContainer0 .RightDiv .TextDiv h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer0 .RightDiv .TextDiv h2 {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer0 .RightDiv .TextDiv p {
    text-align: justify;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer0 .RightDiv .TextDiv p1 {
    text-align: right;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

#InfoContainer0 .RightDiv .TextDiv .SmallHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 5px;
    width: 100%;
}

#InfoContainer0 .RightDiv .TextDiv .MediumHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 10px;
    width: 100%;
}


/*Info-----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
#InfoContainer1 {
    width: 100%;
    height: auto;
}

#InfoContainer1 .DivBlock {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}

#InfoContainer1 .DivBlock .ImageContainer
{
    display: flex;
    width: 50%;
    height: auto;
    margin:10px 10px 0px 5px;
}

#InfoContainer1 .DivBlock .ImageContainer .LeftImage {
    display:block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#InfoContainer1 .DivBlock .RightDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width:50%;
    height: auto;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    margin:10px 5px 0px 10px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content:center;
    width:90%;
    height: auto;
    padding: 10px 10px 10px 10px;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv h2 {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#InfoContainer1 .DivBlock .RightDiv .TextDiv p {
    text-align: justify;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv p1 {
    text-align: right;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv .SmallHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 5px;
    width: 100%;
}

#InfoContainer1 .DivBlock .RightDiv .TextDiv .MediumHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 10px;
    width: 100%;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*InfoContainer2-------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

#InfoContainer2 {
  width: 100%;
  height: auto;
}

#InfoContainer2 .DivBlock {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100%;
}

#InfoContainer2 .DivBlock .RightDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  width:100%;
  height: auto;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  margin:10px 5px 0px 10px;
  -moz-box-shadow: 0 0 5px #333333;
  -webkit-box-shadow:0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv{
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content:center;
  width:95%;
  height: auto;
  padding: 10px 10px 10px 10px;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv h1 {
  text-align: center;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv h2 {
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv p {
  text-align: justify;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv p1 {
  text-align: right;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv .SmallHR {
  border:none;
  background-color: transparent;
  color: rgb(194,202,214);
  height: 5px;
  width: 100%;
}

#InfoContainer2 .DivBlock .RightDiv .TextDiv .MediumHR {
  border:none;
  background-color: transparent;
  color: rgb(194,202,214);
  height: 10px;
  width: 100%;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*ConcertProgram-------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

#ConcertProgram
{
    width: 100%;
    height: auto;
}

#ConcertProgram .ConcertProgramDiv
{
    display: flex;
    flex-direction: column;
    width:calc(100% - 20px);
    height: 100%;
    justify-content:flex-start;
    background-color: rgb(194,202,214);
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow:0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
}

#ConcertProgram .SmallHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 10px;
    width: 100%;
}

#ConcertProgram .MediumHR {
    border:none;
    background-color: transparent;
    color: rgb(194,202,214);
    height: 20px;
    width: 100%;
}

#ConcertProgram h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px 0px 20px;
}

#ConcertProgram h2 {
    text-align: left;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px 0px 20px;
}

#ConcertProgram h3
{
    text-align: left;
    font-size: large;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px 0px 20px;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select:none;
    -ms-use-select:none;
    user-select:none;
}

#ConcertProgram p {
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px 0px 20px;
}

#ConcertProgram p2 {
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px 0px 20px;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select:none;
    -ms-use-select:none;
    user-select:none;
}

#ConcertProgram .ConcertProgramDiv .MusicPieceBlock
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 40px);
  height: 12vh;
  margin: 5px 20px 5px 20px;
  border-radius: 25px;
}

#ConcertProgram .ConcertProgramDiv  .MusicPieceBlock:hover
{
  background-color: rgb(159, 169, 185);
  color: rgb(0, 0, 0);
}

#ConcertProgram .ConcertProgramDiv  .MusicPieceBlock:active
{
  background-color: rgb(149, 159, 173);
  color: rgb(0, 0, 0);
}

#ConcertProgram .ConcertProgramDiv  .MusicPieceBlock .MusicPieceIcon
{
  width: auto;
  height: 80%;
  object-fit: contain;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*footer---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

#footercontainer {
    width: 100%;
    height: 34px;
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background:rgba(34, 34, 34, 0.9);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

#footercontainer h1 {
    color:white;
    font-size:20px;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/